---
import type { Section } from "../../models/Models.ts";
import AOS from "../AOS.astro";
import BandMembersList from "../BandMembersList.astro";
import SectionContentWrapper from "../SectionContentWrapper.astro";
import Video from "../Video.astro";

interface Props {
  section: Section;
}

const { section } = Astro.props;
const { title, subtitle, description, subsections } = section;
const vlogSection = subsections.find((s) => s.subsectionId == "about-vlog");
const storySection = subsections.find((s) => s.subsectionId == "about-story");
const memberSection = subsections.find(
  (s) => s.subsectionId == "about-members"
);
---

<SectionContentWrapper 
  title={section.title}
  subtitle={section.subtitle}
  sectionId={section.sectionId}
  backgroundColor="bg-body-secondary"
  >
  <div class="row p-lg-4 flex-md-row-reverse justify-content-center rounded-2 align-items-lg-center gap-4 gap-lg-0 justify-content-center">
    <div class="col-10 col-lg-6 d-flex flex-fill mt-0">
      <AOS>
        <img
          src="images/portrait1.jpg"
          style="aspect-ratio: 16/9; object-fit:cover;"
          class="img-fluid rounded-2 border"
          alt="About"
          width="700"
          height="500"
          loading="lazy"
        />
      </AOS>
    </div>
    <div class="col col-lg-6">
      <AOS delay={400}>
        <div set:html={description.html} />
      </AOS>
    </div>
  </div>

  <div class="row flex-column flex-lg-row p-lg-4">
    {
      vlogSection && (
        <div class="col col-lg-6 align-content-center">
          <AOS>
            <Video url="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FSnackPatrolBand%2Fvideos%2F783649595737217%2F&show_text=false" />
            <p class="text-lg-center text-muted small pt-2">
              <i>{vlogSection.subtitle}</i>
            </p>
          </AOS>
        </div>
      )
    }

    {
      storySection && (
        <div class="col col-lg-6">
          <AOS delay={400}>
            <p class="lead fw-bold">{storySection.title}</p>
            <p>{storySection.subtitle}</p>
            <p>{storySection.description}</p>
          </AOS>
        </div>
      )
    }
  </div>
  <div class="hero-band-fixed-bg">
    <section>
    {
      memberSection && (

        <div class="row pt-5">
          <div class="section-title pt-5" style="color: white">
            <h2>{memberSection.title}</h2>
          </div>
          </div>
        <div class="row justify-content-center mx-1">
          <BandMembersList title={memberSection.title}/>
        </div>
      )
    }  
  </section>
</div>
  
</SectionContentWrapper>

<style is:inline>
    .hero-band-fixed-bg {
      position: relative;
      opacity: 1;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      width: 100%;
    }
    
    .hero-band-fixed-bg::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-image: linear-gradient(rgb(0 0 0 / 35%), rgb(1 1 1 / 21%)), url(images/poster2.jpg);
      background-size: cover;
      background-position: center;
      transition: opacity .5s ease-out;
      background-blend-mode: hard-light;
    }
</style>