---
import SocialMediaBar from "../components/SocialMediaBar.astro";
import HeroImage from "../components/HeroImage.astro";
import * as Title from "../md/section-title.md"
import * as Music from "../md/section-music.md";
import * as About from "../md/section-about.md";
import * as Contact from "../md/section-contact.md";
import Video from "../components/Video.astro";
import ImageStack from "../components/ImageStack.astro";
import ReviewSlider from "../components/ReviewSlider.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Snack Patrol">
  <div class="vh-100" id="hero-title">
    <HeroImage
      header={Title.frontmatter.header}
      lead={Title.frontmatter.description}
      backgroundImage="images/poster.jpg"
    />

    <section id="music" data-bs-offset="-50">
      <div class="row">
        <div class="section-title text-center">
          <h2 class="m-0">{Music.frontmatter.title}</h2>
        </div>
      </div>
      <div class="row flex-lg-row-reverse align-items-center g-5 p-5">
        <div class="col-lg-6">
          <Video url="https://www.youtube.com/embed/9EbtLU6NyCI?si=ro6CzVbcku7dOG0p&controls=0"/>
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-between gap-2" data-aos="fade-up" data-aos-delay="200">
            <p class="lead">
              {Music.frontmatter.description}
            </p>
            <p>
              {Music.rawContent()}
            </p>
            </div>
      </div>
      <div class="row g-5 p-5" data-aos="fade-up" data-aos-delay="200"> 
        <div class="col-lg-6">
          <iframe width="100%" height="150" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/905103778&color=%237b149a&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false"></iframe>
        </div>
        <div class="col-lg-6">
          <p class="lead">Mere tekst</p>
          <p>Mere tekst</p>
        </div> 
      </div>
    </section>

      <section id="about" data-bs-offset="-50">
        <div
          class="row flex-lg-row-reverse align-items-center justify-content-center g-5 p-5 rounded-2">
          <div class="col-10 col-lg-6 m-0 flex-fill">
            <img
              src="images/portrait1.jpg"
              style="aspect-ratio: 16/9; object-fit:cover;"
              class="img-fluid rounded-2"
              alt="About"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6 m-0" data-aos="fade-up" data-aos-delay="200">
            <h2 class="section-title fw-bold text-body-emphasis lh-1 mb-5">
              {About.frontmatter.title}
            </h2>
            <p class="lead">
              {About.frontmatter.description}
            </p>
            <p class="text-body">
              {About.rawContent()}
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button
                type="button"
                class="btn btn-outline-secondary px-4" data-bs-target="#contact">Kontakt os</button
              >
            </div>
          </div>
        </div>
        <div class="row p-5 g-5">
          <div class="col-lg-6">
            <Video url="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FSnackPatrolBand%2Fvideos%2F783649595737217%2F&show_text=false&width=560&t=0"/>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <p class="lead">Snack Patrol består af:</p>
              <ul class="text-muted">
                <li>Anne Sofie &#45; <i>lead vokal</i></li>
                <li>Magnus Brunebjerg &#45; <i>guitar & vokal</i></li>
                <li>Andreas Friis &#45; <i>guitar & vokal</i></li>
                <li>Jacob Juul &#45; <i>bas & kor</i></li>
                <li>Christian Damsgaard &#45; <i>trommer & drumpad & kor</i></li>
                <li>Simon Nielsen &#45; <i>keyboard & kor</i></li>
                <li>Malene &#45; <i>kor</i></li>
              </ul>
          </div>
        </div>
        <div class="row g-5 p-5"> 
          <SocialMediaBar title={Music.frontmatter.socialMediaBarTitle}/>
        </div>
      </section>
      <section id="reviews" data-bs-offset="-50">
       <div class="row">
        <div class="section-title">
          <h2 class="m-0 text-center">Anmeldelser</h2>
        </div>
        <p class="lead text-center">Vi har spillet masser af koncerter, læs anmeldelserne her</p>
       </div>
        <div class="row px-5 rounded-2">
            <div class="col col-review-slider rounded-2">
              <ReviewSlider/>
            </div>
        </div>
      </section>

    <style>
      section {
        padding: 2.5rem 0;
        background-color: var(--bg);
        margin-top: 2rem;
      }

      section:nth-child(1) {
        margin-top: 2rem;
      }

      .section-title h2::before,
      .section-title h2::after {
        content: "";
        width: 50px;
        height: 2px;
        background: purple;
        display: inline-block;
      }

      .section-title h2::before {
        margin: 0 15px 10px 0;
      }

      .section-title h2::after {
        margin: 0 0 10px 15px;
      }

      .col-review-slider {
        background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%), linear-gradient(121.28deg, #669600 0%, #ff0000 100%), linear-gradient(360deg, #0029ff 0%, #8fff00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%), radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
         background-blend-mode: screen, color-dodge, overlay, difference, normal;
      }
    </style>

    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js">
      AOS.init({
        duration: 1200,
      });
    </script>
  </div></PageCleanLayout
>


